.carCard {
  display: inline-block;
  width: 30%;
  height: 250px;
  border-radius: 2em;
  margin: 1%;
  padding: 1px;
  border: 1px solid black;
  background-color: white;
}

.card-header-block {
  height: 80px;
  display: block;
  border-style: dotted;
  border-color: lightgray;
  border-width: 1px;
  padding-bottom: 15px;

}

.card-header {
  text-align: center;
  font-size: 175%;
}
